
{% block content %}
    {% set url = firstSpiritGetLinkUrl(data.fsBlockData) %}
    <a href="{% if url is defined %}{{url}}{% endif %}" {{firstSpiritGetLinkTarget(data.fsBlockData)}}>{{firstSpiritRichText(data.fsBlockData.content) | raw }}</a>
{% endblock %}